# Loading data into Pandas

In [6]:
import pandas as pd #You have Import Pandas first.

df = pd.read_csv('Hospital_Beds.csv') #Read the csv file and later you can analyze it.

print(df.head(3))

  state collection_date Staffed Adult ICU Beds Occupied Estimated Count LL  \
0    CW      2020-11-12                                    64,366   64,308
1    CW      2020-11-13                                    63,951   63,886
2    CW      2020-11-14                                    63,024   62,952

  Count UL  Percentage of Staffed Adult ICU Beds Occupied Estimated  \
0   64,424                                              74.81
1   64,016                                              74.53
2   63,096                                              73.60

   Percentage LL  Percentage UL Total Staffed Adult ICU Beds Total LL Total UL
0          74.60          75.01                       86,044   85,963   86,125
1          74.31          74.74                       85,810   85,734   85,887
2          73.33          73.88                       85,626   85,522   85,730

# Reading Data in Pandas

In [8]:
## Read Headers
print(df.columns)

Index(['state', 'collection_date', 'Staffed Adult ICU Beds Occupied Estimated',
       'Count LL', 'Count UL',
       'Percentage of Staffed Adult ICU Beds Occupied Estimated',
       'Percentage LL', 'Percentage UL', 'Total Staffed Adult ICU Beds',
       'Total LL', 'Total UL'],
      dtype='object')

In [11]:
##Read each Column
print(df[['state','Staffed Adult ICU Beds Occupied Estimated','Count LL']])

     state Staffed Adult ICU Beds Occupied Estimated Count LL
0       CW                                    64,366   64,308
1       CW                                    63,951   63,886
2       CW                                    63,024   62,952
3       CW                                    61,753   61,688
4       CW                                    61,820   61,763
...    ...                                       ...      ...
1607    VT                                        56       56
1608    WA                                       942      903
1609    WI                                     1,054    1,026
1610    WV                                       504      504
1611    WY                                        56       47

[1612 rows x 3 columns]

In [12]:
##Read each Row
print(df.head(3))

  state collection_date Staffed Adult ICU Beds Occupied Estimated Count LL  \
0    CW      2020-11-12                                    64,366   64,308
1    CW      2020-11-13                                    63,951   63,886
2    CW      2020-11-14                                    63,024   62,952

  Count UL  Percentage of Staffed Adult ICU Beds Occupied Estimated  \
0   64,424                                              74.81
1   64,016                                              74.53
2   63,096                                              73.60

   Percentage LL  Percentage UL Total Staffed Adult ICU Beds Total LL Total UL
0          74.60          75.01                       86,044   85,963   86,125
1          74.31          74.74                       85,810   85,734   85,887
2          73.33          73.88                       85,626   85,522   85,730

# Sorting/Describing Data

In [13]:
df.describe()

,Percentage of Staffed Adult ICU Beds Occupied Estimated,Percentage LL,Percentage UL
count,1612.000000,1612.000000,1612.000000
mean,75.105099,73.958151,76.252103
std,10.051140,12.012170,11.023275
min,43.550000,-19.220000,43.550000
25%,68.640000,68.005000,69.417500
50%,76.500000,75.945000,76.765000
75%,82.027500,81.502500,82.462500
max,103.700000,103.700000,155.590000

In [17]:
df.sort_values('Percentage of Staffed Adult ICU Beds Occupied Estimated',ascending = False)

,state,collection_date,Staffed Adult ICU Beds Occupied Estimated,Count LL,Count UL,Percentage of Staffed Adult ICU Beds Occupied Estimated,Percentage LL,Percentage UL,Total Staffed Adult ICU Beds,Total LL,Total UL
1458,NM,2020-12-01,414,411,416,103.70,103.70,103.70,399,399,399
1523,NM,2020-12-06,422,419,426,103.55,100.78,106.33,408,403,413
1445,NM,2020-11-30,406,406,406,103.31,103.31,103.31,393,393,393
1601,NM,2020-12-12,418,412,424,102.45,96.29,108.62,408,397,419
1471,NM,2020-12-02,404,401,408,101.12,99.54,102.71,400,400,400
...,...,...,...,...,...,...,...,...,...,...,...
1221,WY,2020-11-12,55,49,61,45.83,28.77,62.90,120,111,129
1598,WY,2020-12-11,57,57,57,44.88,43.65,46.11,127,126,128
1312,WY,2020-11-19,53,53,53,44.54,44.54,44.54,119,119,119
1611,WY,2020-12-12,56,47,65,44.09,20.62,67.57,127,116,138
1269,VT,2020-11-16,27,5,49,43.55,43.55,43.55,62,31,93

# The state of most number of total staffed adult ICU Beds

In [20]:
max_beds = df.sort_values('Total Staffed Adult ICU Beds', ascending = False).head(1)

print("The state of most number of total staffed adult ICU Beds: ", max_beds[['state','Total Staffed Adult ICU Beds']])

The state of most number of total staffed adult ICU Beds:      state Total Staffed Adult ICU Beds
700    MN                          998